@import 'menu.css';
*{
    margin: 0;
    padding: 0;
}


.conteudo{
    width: 100%;
}
.rodape{
    width: 100%;
    text-align: center;
    background: rgb(98, 0, 255);
}
.img-mobile{
    width: 100%;

}
@media screen and (min-width:768px) {
    .menu{
        height: 120px;
        background-color: rgb(218, 68, 210);
    }
    .conteudo-home{
        display: flex;
        padding: 10px;
    }
}
@media screen and (min-width:1288px) {
    .menu{
        height: 120px;
        background-color: rgb(103, 114, 113);
    }
    
}