* {
    margin: 0;
    padding: 0;

}
body {
    background-color: rgb(0, 0, 0);
}
.barra {
    background-color: rgb(84, 218, 223);
    height: 20vh;
    grid-area: barra;
   

}
.lado {
    background-color: rgb(27, 161, 179);
    height: 60vh;
    grid-area: lado;
}
.principal {
   
    background-color: rgb(7, 86, 97);
    height: 60vh;
    grid-area: principal;
}

.rodape {
    background-color: rgb(3, 54, 75);
    height: 20vh;
    grid-area: rodape;
}

.meu-site {
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-areas:
                  "barra barra"
                  "lado principal"
                  "rodape rodape";

}
